<div class="page-section
  <% if food_truck_iteration.first? %>pt-0<% end %>
  <% unless food_truck_iteration.last? %>border-bottom border-gray-light pb-3<% end %>
  <% unless food_truck_iteration.first? %>pt-4<% end %>">
  <h4>
    <%= link_to "Write a Review", "/ratings/new", match: "ratings", class: "btn btn-primary" %><br />
    <%= food_truck.name %>
    <%- if food_truck.tags.any? %>
      <span class="labels">
        <% food_truck.tags.each do |tag| %>
          <%= link_to tag.name, tag, class: "label Label--outline" %>
        <% end %>
      </span>
    <%- end %>
  </h4>
  <%= simple_format food_truck.description %>
  <%- if food_truck.website.present? %>
    <p class="text-small">
      <strong>Website:</strong>
      <%= link_to food_truck.website %><br />

    </p>
  <%- end %>
</div>
